<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flowx.user.mapper.SysUserMapper">

    <!-- Select user by username -->
    <select id="selectUserByUsername" resultType="com.flowx.user.entity.SysUser">
        SELECT * FROM sys_user WHERE username = #{username} AND deleted = 0
    </select>

    <!-- Select user by email -->
    <select id="selectUserByEmail" resultType="com.flowx.user.entity.SysUser">
        SELECT * FROM sys_user WHERE email = #{email} AND deleted = 0
    </select>

    <!-- Select user by phone -->
    <select id="selectUserByPhone" resultType="com.flowx.user.entity.SysUser">
        SELECT * FROM sys_user WHERE phone = #{phone} AND deleted = 0
    </select>

    <!-- Select roles assigned to user -->
    <select id="selectUserRoles" resultType="com.flowx.user.entity.SysRole">
        SELECT r.*
        FROM sys_role r
        INNER JOIN sys_user_role ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userId} AND r.deleted = 0
        ORDER BY r.sort ASC
    </select>

    <!-- Select permission identifiers for user -->
    <select id="selectUserPermissions" resultType="java.lang.String">
        SELECT DISTINCT m.permission
        FROM sys_menu m
        INNER JOIN sys_role_menu rm ON m.id = rm.menu_id
        INNER JOIN sys_user_role ur ON rm.role_id = ur.role_id
        WHERE ur.user_id = #{userId}
          AND m.deleted = 0
          AND m.status = 1
          AND m.permission IS NOT NULL
          AND m.permission != ''
    </select>

</mapper>
